.container
  width: 85%
  max-width: 1256px
  margin: auto
.row
  display: flex
  align-items: start
  justify-content: space-between 
     
.col
  &-30    
    flex-basis: 32%
    &--small-width
      display: flex
      justify-content: center     

  &-50
    width: 40%
    padding-bottom: 4.4rem
    &__right
      width: 60%
      padding: 0
      margin-left: 3.9rem 
    

  
  