.button
  padding: 0.8rem 1.71rem
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem 
  font-weight: 500
  line-height: 1.07rem
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.3s
    &:hover
      box-shadow: none
  &--primary2  
    padding: 1.28rem 2rem       
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light    
    padding: 1.28rem 3.56rem 1.28rem 3rem
.label
  font-size: 1.07rem
  &--light
    color: rgba($light, 0.5)
.input
  background-color: transparent
  border: none
  border-bottom: 1px solid rgba(54, 54, 54, 0.3)
  font-size: 1.285rem
  color: $dark
  padding: 0.5rem 0  
  &--light
    color: $light
    &::placeholder
      color: $light      
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    height: 0
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem  
  &__label
    display: flex
    align-items: center
    font-size: 1.142rem    
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
    &--center
      justify-content: center


#button     
  &-up
    display: none	
    opacity: 0.5
    filter:alpha(opacity 50)    
    position: fixed
    right: 40px
    bottom: 100px			
    color: #000
    transition: 0.3s
    z-index: 299
    transform: rotate(180deg)       
    &:hover
      cursor: pointer
      opacity: 1
      filter:alpha(opacity 100)     
      transition: 0.3s      
    &:after
      content: url('../img/arrow-down.svg')
      padding: 0.40rem 0.57rem 
      border: 2px  solid $primary            
      border-radius: 50%
      
input
  &.invalid
    border-bottom: 1px solid red
label
  &.invalid
    color: red          
      
           
    
      
        

    
    
      
    
      
        
    
      




    
       



