@media screen and ( max-width: 1313px )
  .swiper
    &-slide
      &__text
        &--right
          margin-right: 4rem
  .nav
    &__item
      margin-right: 1rem 
  .team
    &-card
      &__title
        font-size: 1.1rem
      &__experience
        font-size: 0.85rem            
       

@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .team
    &-card
      &__experience
        padding-left: 5rem    
       
@media screen and ( max-width: 1090px )
  .card  
    &__text
      margin: auto
      margin-top: -9.3rem
  .swiper
    &-slide
      &__text
        &--right
          margin-right: 2rem
         
  .section
    &-title
      &__text
        font-size: 1.15rem 
  .team
    &-card
      &__title
        font-size: 1.1rem
      &__experience
        padding-left: 3.5rem                 
      &__text 
        max-width: 70%       
        padding: 1rem
      &__image        
        width: 90%        
      &__image-wrap
        max-width: 100% 
      &__icon
        left: 0                   
       
        
          
  .col-30
    &--small-width
      
                              
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .swiper
    &-slide
      &__heading
        font-size: 1.04rem
      &__text
        margin-right: 0
        flex-basis: 45%          
        &--right
          margin-right: 0 
  .section
    &-title
      &__text
        font-size: 1.1rem
  .team
    &__card
      max-width: 90% 
      
    &-card
      &__title
        font-size: 1.1rem      
      &__experience        
        padding-left: 3rem
      &__text
        padding: 1rem 0.1rem
      &__image
        max-width: 90%        
      &__image-wrap
        width: unset
  .row
    &__team
      justify-content: center
  .col
    &-30      
      &--small-width
  .footer
    &__map    
      min-height: 21.4rem      
             
           
@media screen and ( max-width: 820px )
  .team
    &__card
      max-width: 73%
    &-card  
      &__experience 
        font-size: 0.8rem       
        padding-left: 1.8rem         



@media screen and ( max-width: 780px )
  .swiper
    &-slide
      &__heading
        margin-right: 0
    

        
@media screen and ( max-width: 760px )
  .steps
    display: none
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.29rem
  .card
    &__text   
      margin-left: 0
      margin-top: -11.9rem
      max-width: 22.2rem
    &__pricetag
      min-width: 71% 
      padding: 0.9rem 0.4rem
      text-align: center
    &__list
      padding: 0 0 0 1.6rem 
      margin-bottom: 2rem
    &__title
      padding: 0 0 0 0.3rem
  .design
    background-color: $dark
    &__card
      margin-bottom: 4.29rem
      &--disabled
        display: none
    &__section-title        
      color: $light 
      padding-top: 13rem
      margin-bottom: 3rem
    &__text      
  .section-title     
    &__text
      font-family: 'Futura Book'
      font-size: 1.25rem
      max-width: 306px
      margin-top: 0.9rem
      line-height: 1.8rem        
  .col
    &-50
      width: 60%
      padding-bottom: 2rem
      &__right
        width: 60%
        padding: 0
        margin-left: 0
        margin-bottom: 3.6rem
  .swiper
    &-slide
      &__heading
        font-size: 1rem
  .swiper
    &-slide
      &__heading
        font-size: 1.04rem
      &__text
        margin-right: 0
        flex-basis: 45%          
        &--right
          margin-right: 0 
  .team
    background-color: $dark  
    margin-top: -2rem  
    &__card
      margin-bottom: 10.4rem
      max-width: 100%      
      &--down
        margin-bottom: 9.42rem
    &__text
      &--width
        display: none  
    &-card
      &__text 
        max-width: 84.9%       
        padding: 1rem
      &__title
        font-size: 1.5rem 
        padding-top: 0.7rem
      &__position
        font-size: 1.5rem 
        margin-bottom: 1.8rem  
      &__image        
        min-width: 304px
        width: 304px        
      &__image-wrap
        
      &__icon
        left: -2.5rem
      &__experience 
        font-size: 0.9rem       
        padding-left: 5rem
        font-size: 1rem
        padding-left: 4rem
        min-height: 3.7rem
  .row
    &__team
      justify-content: space-between            
  
  .policy
    &__checkbox
      &-control ~ label.invalid
        left: 17rem
        top: 2.6rem 
  
                      

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.9rem
    max-width: 21rem 
    line-height: 1.4
    margin: 0
    margin-bottom: 1rem
  .container
    min-width: 90%     
  .hero
    &__content
      margin: auto        
    &__text      
      font-size: 1.45rem
      margin: 0
      margin-bottom: 2.75rem 
      max-width: 94%
      line-height: 1.4  
      letter-spacing: 0.02rem    
    &__button
      display: block
      min-width: 100%      
      letter-spacing: 0.03rem
      font-size: 1.05rem 
      padding: 1.6rem 5rem    
    &__scroll-down
      display: none
  .button
      &--primary
        margin-bottom: 2.1rem
  .section
    &-title
      &__heading
        font-size: 1.9rem
        margin-bottom: 1.7rem
        letter-spacing: -0.03rem
  #button           
    &-up
      min-width: 100%
      right: unset
      left: 50%
      bottom: 0px                    
      transform: translate(-50%) rotate(180deg)
      background-color: $dark
      padding: 10px                   
      &:after
        border: none               
        opacity: 1
        position: absolute
        right: unset        
        left: 50%         
        transform: translate(-50%)
        bottom: 5px

  .col
    &-50
      width: 100%
      padding-bottom: 3rem
      &__right
        width: 100%

  .section
    &-title
      &__heading
        &--primary
          margin-bottom: 1.9rem
          letter-spacing: -0.2rem
      &__word
        &::after
          display: none    
      &__text
        font-size: 1.1rem
        line-height: 1.9rem
        letter-spacing: 
        max-width: 23rem
        margin: 0
        margin-bottom: 3.1rem        
        
  .swiper
    &-slide
      &__value
        font-size: 
      &__heading
        font-size: 1.1rem
        margin-bottom: 0.7rem
      &__text
        margin-right: 2rem
        flex-basis: 45% 
        margin-bottom: 3rem         
        &--right
          margin-right: 3rem 
        &--bottom
          margin-bottom: 4.1rem   
  .hero
    &::after
      height: 3rem   

  .control
    &__input-group
      flex-basis: 100% 
      margin-bottom: 4.5rem
      order: 1
    &__button
      min-width: 100% 
      margin-top: 4.46rem
      margin-bottom: -2rem
      order: 3      
    &__policy      
      order: 2 
      margin: unset
      margin-top: -1.87rem      
      &-label
        justify-content: start           
    &__text
      font-size: 1.2rem
      line-height: 2.4rem
      max-width: 28rem
    &__label
      font-size: 1.2rem
      margin-bottom: 0.003rem
      color: $secondary
      
      
    &__input
      border-bottom: 1px solid $light
    &__video
      background: $dark url('../img/video-mask-min.jpg') center/cover no-repeat
      
      min-height: 25rem
      min-width: 100% 
    &--dark
      background-color: $dark
      color: $light   
  .video  
    &__play      
      max-width: 6rem
  .types
    padding-top: 5.2rem
  .input
    color: $light    
    &::placeholder
      color: $light
  .footer
    background: $dark
    &__wrap
      padding: 2.5rem 0 0 0
      max-width: 100%
      background-color: $dark
      margin-bottom: 1.5rem
    &__title
      font-size: 1.65rem
      margin-bottom: 4.5rem  
    &__input
      border-bottom: 1px solid $light 
      font-size: 1.45rem     
      &-group
        flex-basis: 100%
        margin-bottom: 5.3rem 
    &__policy
      &-label
        justify-content: start
        margin-top: -4.4rem
        font-size: 1.3rem
    &__button                 
       min-width: 100%
       min-height: 4.3rem
       font-size: 1.2rem 
    &__heading
      font-size: 1.5rem
      max-width: 26rem
    &__contacts-phone
      color: $primary
    &__wrap-map      
      display: flex
      flex-direction: column
    &__section-title
      order: 2
    &__map
      margin-bottom: 3.2rem
    &__mail-icon
      width: 3.5rem
      height: 3.5rem
      margin-right: 1.5rem            
    &__instagram-icon
      width: 3.5rem
      height: 3.5rem
    &__image
      margin-top: 1.5rem   
  #map
    height: 21.4rem 
    width: 100%
    order: 1

  .footer__menu
    display: none  
         
      
  

     
                

  .team
    padding-bottom: 14.5rem
  .policy
    &__checkbox
      &-footer ~ div.invalid
        left: 0
        top: -1.5rem
      &-control ~ div.invalid
        left: 0
  div
    &.invalid      
      &-control
        top: 3.9rem      
                                     
@media screen and ( max-width: 405px )    
  .swiper
    &-slide      
      &__text
        margin-right: 0.2rem
@media screen and ( max-width: 394px ) 
  .control          
    &__text
      font-size: 1.15rem
      line-height: 2rem
      margin-bottom: 2.5rem
      max-width: 28rem 
      &::before
        margin-bottom: 1.1rem
    &__video
      margin-bottom: 2.5rem
      margin-top: 3rem
      min-height: 17.4rem
      min-width: 100% 
      background-size: unset     
    &--dark
      background-color: $dark
      color: $light           
    &__input
      font-size: 1.5rem
      padding-top: 0      
    &__label
      font-size: 1.2rem
      margin-bottom: 0.003rem       
    &__policy   
      &-label
        justify-content: start
        font-size: 1.4rem
    &__input-group       
      margin-bottom: 5.4rem
      &--down
        margin-bottom: 3.1rem
    &__button
      min-width: 100% 
      margin-top: 5.1rem     
      font-size: 1.2rem        
      letter-spacing: 0.09rem 
      min-height: 4.2rem
  .video  
    &__play
      max-width: 5.5rem  
  .col-50__right
    margin-bottom: 0 
    padding-bottom: 1.5rem
  .section
    &--dark
      padding-top: 0
  .hero
    &::after
      height: 2.9rem

  .team
    background-color: $dark
    &__heading
      margin-bottom: 0.8rem       
    &__card
      margin-bottom: 10.4rem
      max-width: 91%      
      &--down
        margin-bottom: 12.5rem
    &__text
      font-size: 1.25rem
      max-width: 100%
      margin: 0
      margin-top: 1.6rem
      margin-bottom: 4.5rem

      &--width
        display: none  
    &-card
      &__text 
        max-width: 85%       
        padding: 1rem
        margin-left: 2.3rem
        margin-top: -6.9rem
      &__title
        font-size: 1.5rem 
        padding-top: 0.7rem
      &__position
        font-size: 1.5rem 
        margin-bottom: 1.8rem
      &__experience
        font-size: 1rem
        padding-left: 4rem
        min-height: 3.7rem            
      &__image        
        
        width: 304px        
      &__image-wrap
        
        margin-left: 0rem
      &__icon
        left: -3rem
        top: -3rem
  .footer
    &__map
      max-width: 100%
            
         

@media screen and ( max-width: 388px )       
  .control          
    &__text
      font-size: 1rem
      line-height: 2rem
      margin-bottom: 2.5rem
      max-width: 22rem
  .team
    &__card      
    &-card
      &__text 
        max-width: 80%       
        padding: 1rem
        margin-left: 3.5rem
        margin-top: -6rem
      &__image        
        min-width: unset
        width: 80%        
      &__image-wrap
      &__icon
        left: 0rem
        top: -3rem  
              

       
          

           
      

         



          
                
        
               
            
                 
        
          

@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none


@media screen and (orientation:landscape) and (min-width: 321px) and (max-width: 568px)
  .modal
    &__input
      &-group
        margin-bottom: 0.5rem
    &__policy
      margin-bottom: 0.5rem     
    &__button
      color: $dark
      margin-bottom: 0
      padding: 1rem
    &__title
      margin-bottom: 0.5rem
    &__dialog
      padding: 2rem 3.5rem 1.5rem
      max-width: 30rem
  .hero 
    padding-top: 70px   
    &__button
      display: inline-block
      min-width: 45%
      padding: 1.6rem 2rem
      margin-bottom: 1rem
      max-height: 50px
    &__text      
      margin-bottom: 0.5rem  
    &__title
      margin-bottom: 0  
@media screen and (orientation:landscape) and (min-width: 376px) and (max-width: 812px)      
  .modal
    &__input
      &-group
        margin-bottom: 1rem
    &__policy
      margin-bottom: 1rem     
    &__button
      color: $dark
      margin-bottom: 0
    &__title
      margin-bottom: 1rem             
  .hero
    &__button  
      margin-bottom: 5rem
    &__text      
      margin-bottom: 1rem 
    &__title
      margin-bottom: 0 
    
  #button           
    &-up
      min-width: 100%      
      right: unset
      left: 50%
      bottom: 0px                
      transform: translate(-50%) rotate(180deg)
      background-color: $dark
      padding: 10px                      
      &:after
        border: none               
        opacity: 1
        position: absolute
        right: unset
        left: 50%
        transform: translate(-50%)
        bottom: 5px
         
@media screen and (orientation:landscape) and (min-width: 611px) and (max-width: 812px)
  .modal
    &__input
      margin-bottom: 0.5rem    
  .title    
    font-size: 2rem  
@media screen and (orientation:landscape) and (min-width: 577px) and (max-width: 823px)     
  .modal
    &__input
      margin-bottom: 0.5rem    
  .title    
    font-size: 1.8rem
    margin-bottom: 1rem
  .hero  
    &__text
      font-size: 1.2rem
      margin-bottom: 1rem        
  

  