@media screen and ( max-width: 1313px )
  .swiper
    &-slide
      &__text
        &--right
          margin-right: 4rem
  .nav
    &__item
      margin-right: 1rem         
       

@media screen and ( max-width: 1250px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem  
@media screen and ( max-width: 1090px )
  .card  
    &__text
      margin: auto
      margin-top: -9.3rem
  .swiper
    &-slide
      &__text
        &--right
          margin-right: 2rem
         
  .section
    &-title
      &__text
        font-size: 1.15rem                  
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .swiper
    &-slide
      &__heading
        font-size: 1.04rem
      &__text
        margin-right: 0
        flex-basis: 45%          
        &--right
          margin-right: 0 
  .section
    &-title
      &__text
        font-size: 1.1rem

@media screen and ( max-width: 780px )
  .swiper
    &-slide
      &__heading
        margin-right: 0
        
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.29rem
  .card
    &__text   
      margin-left: 0
      margin-top: -11.9rem
      max-width: 22.2rem
    &__pricetag
      min-width: 71% 
      padding: 0.9rem 0.4rem
      text-align: center
    &__list
      padding: 0 0 0 1.6rem 
      margin-bottom: 2rem
    &__title
      padding: 0 0 0 0.3rem
  .design
    background-color: $dark
    &__card
      margin-bottom: 4.29rem
      &--disabled
        display: none
    &__section-title        
      color: $light 
      padding-top: 13rem
      margin-bottom: 3rem
    &__text      
  .section-title     
    &__text
      font-family: 'Futura Book'
      font-size: 1.25rem
      max-width: 306px
      margin-top: 0.9rem
      line-height: 1.8rem        
  .col
    &-50
      width: 60%
      padding-bottom: 2rem
      &__right
        width: 60%
        padding: 0
        margin-left: 0
        margin-bottom: 3.6rem
  .swiper
    &-slide
      &__heading
        font-size: 1rem
  .swiper
    &-slide
      &__heading
        font-size: 1.04rem
      &__text
        margin-right: 0
        flex-basis: 45%          
        &--right
          margin-right: 0             
              
   
  
                      

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.9rem
    max-width: 21rem 
    line-height: 1.4
    margin: 0
    margin-bottom: 1rem
  .container
    min-width: 90%     
  .hero
    &__content
      margin: auto        
    &__text      
      font-size: 1.45rem
      margin: 0
      margin-bottom: 2.75rem 
      max-width: 94%
      line-height: 1.4  
      letter-spacing: 0.02rem    
    &__button
      display: block
      min-width: 100%      
      letter-spacing: 0.03rem
      font-size: 1.05rem 
      padding: 1.6rem 5rem    
    &__scroll-down
      display: none
  .button
      &--primary
        margin-bottom: 2.1rem
  .section
    &-title
      &__heading
        font-size: 1.9rem
        margin-bottom: 1.7rem
        letter-spacing: -0.03rem
  #button           
    &-up
      min-width: 100%
      right: unset
      left: 50%
      bottom: 0px                    
      transform: translate(-50%) rotate(180deg)
      background-color: $dark
      padding: 10px                   
      &:after
        border: none               
        opacity: 1
        position: absolute
        right: unset        
        left: 50%         
        transform: translate(-50%)
        bottom: 5px

  .col
    &-50
      width: 100%
      padding-bottom: 3rem
      &__right
        width: 100%

  .section
    &-title
      &__heading
        &--primary
          margin-bottom: 1.9rem
          letter-spacing: -0.2rem
      &__word
        &::after
          display: none    
      &__text
        font-size: 1.1rem
        line-height: 1.9rem
        letter-spacing: 
        max-width: 23rem
        margin: 0
        margin-bottom: 3.1rem        
        
  .swiper
    &-slide
      &__value
        font-size: 
      &__heading
        font-size: 1.1rem
        margin-bottom: 0.7rem
      &__text
        margin-right: 2rem
        flex-basis: 45% 
        margin-bottom: 3rem         
        &--right
          margin-right: 3rem 
        &--bottom
          margin-bottom: 4.1rem   
  .hero
    &::after
      height: 3rem   

  .control
    &__input-group
      flex-basis: 100% 
      margin-bottom: 4.5rem
      order: 1
    &__button
      min-width: 100% 
      margin-top: 4.46rem
      order: 3      
    &__policy
      order: 2 
      margin-top: -1.87rem    
    &__text
      font-size: 1.3rem
      line-height: 2.4rem
    &__video
      background: $dark url('../img/video-mask-min.jpg') center no-repeat
      background-size: contain
      min-height: 25rem
      min-width: 100%  
  .video  
    &__play      
      max-width: 6rem
  .types
    padding-top: 1rem    
       

                             
@media screen and ( max-width: 405px )    
  .swiper
    &-slide      
      &__text
        margin-right: 0.2rem
@media screen and ( max-width: 394px ) 
  .control          
    &__text
      font-size: 1.15rem
      line-height: 2rem
      margin-bottom: 2.5rem 
      &::before
        margin-bottom: 1.1rem
    &__video
      margin-bottom: 2.5rem
      margin-top: 3rem
      min-height: 17.4rem
      min-width: 100% 
      background-size: unset     
    &--dark
      background-color: $dark
      color: $light           
    &__input
      font-size: 1.5rem
      padding-top: 0
    &__label
      font-size: 1.2rem
      margin-bottom: 0.003rem
      color: $secondary 
    &__policy   
      &-label
        justify-content: start
        font-size: 1.4rem
    &__input-group       
      margin-bottom: 5.4rem
      &--down
        margin-bottom: 3.1rem
    &__button
      min-width: 100% 
      margin-top: 5.1rem
      margin-bottom: -2rem
      font-size: 1.2rem        
      letter-spacing: 0.09rem 
      min-height: 4.2rem
  .video  
    &__play
      max-width: 5.5rem 
  .types
    padding-top: 5.2rem 
  .col-50__right
    margin-bottom: 0 
    padding-bottom: 1.5rem
  .section
    &--dark
      padding-top: 0
  .hero
    &::after
      height: 2.9rem
  .input
    color: $light 
    border-bottom: 1px solid $light
    &::placeholder
      color: $light
       
          

           
      

         



          
                
        
               
            
                 
        
          

@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none


@media screen and (orientation:landscape) and (min-width: 321px) and (max-width: 568px)
  .modal
    &__input
      margin-bottom: 0.5rem
    &__policy
      margin-bottom: 0.5rem     
    &__button
      color: $dark
      margin-bottom: 0
      padding: 1rem
    &__title
      margin-bottom: 0.5rem
    &__dialog
      padding: 2rem 3.5rem 1.5rem
      max-width: 30rem
  .hero 
    padding-top: 70px   
    &__button
      display: inline-block
      min-width: 45%
      padding: 1.6rem 2rem
      margin-bottom: 1rem
      max-height: 50px
    &__text      
      margin-bottom: 0.5rem  
    &__title
      margin-bottom: 0  
@media screen and (orientation:landscape) and (min-width: 376px) and (max-width: 812px)      
  .modal
    &__input
      margin-bottom: 1rem
    &__policy
      margin-bottom: 1rem     
    &__button
      color: $dark
      margin-bottom: 0
    &__title
      margin-bottom: 1rem             
  .hero
    &__button  
      margin-bottom: 5rem
    &__text      
      margin-bottom: 1rem 
    &__title
      margin-bottom: 0 
    
  #button           
    &-up
      min-width: 100%      
      right: unset
      left: 50%
      bottom: 0px                
      transform: translate(-50%) rotate(180deg)
      background-color: $dark
      padding: 10px                      
      &:after
        border: none               
        opacity: 1
        position: absolute
        right: unset
        left: 50%
        transform: translate(-50%)
        bottom: 5px
         
@media screen and (orientation:landscape) and (min-width: 611px) and (max-width: 812px)
  .modal
    &__input
      margin-bottom: 0.5rem    
  .title    
    font-size: 2rem  
@media screen and (orientation:landscape) and (min-width: 577px) and (max-width: 823px)     
  .modal
    &__input
      margin-bottom: 0.5rem    
  .title    
    font-size: 1.8rem
    margin-bottom: 1rem
  .hero  
    &__text
      font-size: 1.2rem
      margin-bottom: 1rem        
  

  