*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem 
img
  max-width: 100%   
.section
  
  &-title    
    text-align: center    
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__heading
      font-size: 1.42rem
          
    &__image
      &::before, &::after
        content: ''
        display: inline-block
        vertical-align: 90%
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 3px
        
  
  