.design
  margin-top: 100px
  &__section-title
    margin-bottom: 3rem
  &__text
    margin: 0
  &--pricetag
    padding: 1.214rem 5.5rem 1.214rem 2.35rem
            
.section-title     
  &__text
    display: inline-block
    font-family: FuturaBookC
    font-size: 1.42rem
    line-height: 1.29rem
    text-transform: none
    max-width: 733px
    margin-top: 2.27rem
    

    